.suggestions {
    margin-top: 30px;
    margin-right:  20px;
}

.suggestions_title {
    color: grey;
    font-weight: bold;
}

.username__left {
    display: flex;
    align-items: center;
}

.username_info {
    display: flex;
    flex-direction: column;
}

.relation {
    color:grey;
    font-size: 12px;
}

.suggestion__username {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.follow__button {
    color: hsl(204, 100%, 48%);
    font-weight: bold;
    background: 0;
    border: 0;
    
}

.follow__button:hover {
    color: hsl(204, 100%, 38%);
    cursor: pointer;
}

.username {
    font-weight: 600;
    font-size: 14px;
}


.avatar {
    margin-right: 10px;
}